{{!--<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">--}}

<nav class="navbar navbar-expand-sm navbar-dark mb-3" style="background-color: #DAA520;">
  <div class="container">
    <a class="navbar-brand" href="/">MAIN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      {{!--<ul class="navbar-nav">--}}
      {{!--  <li class="nav-item">--}}
      {{!--    <a class="nav-link" href="/ideas">All Posts</a>--}}
      {{!--  </li>--}}
      {{!--  <li class="nav-item">--}}
      {{!--    <a class="nav-link" href="/ideas/add">New Pots</a>--}}
      {{!--  </li>--}}
      {{!--</ul>--}}
      <ul class="navbar-nav ml-auto">
        {{#if user}}
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Welcome {{user.name}}</a>
            <div class="dropdown-menu">
              <a href="https://dtctech.herokuapp.com/" target="_blank" class="dropdown-item">Chat</a>
              <a href="/quizzes" class="dropdown-item">Score</a>
              <a href="/quiz1" class="dropdown-item">Chapter #1 Quiz</a>
            </div>
          </li>
          
          <li class="nav-item">
            <a href="/users/logout" class="nav-link">Logout</a>
          </li>
          
        {{else}}
          <li class="nav-item">
            <a href="/users/login" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a href="/users/register" class="nav-link">Register</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>