<div>
  <h2>Instruction</h2>
  <p>
    In the next page you will see a quiz, enter your answer in the text box then click 'Next' buton, 
    after 10 quizzes you will able to see score and the solution.
  </p>
  <a href="/quizzes/quiz1" class="btn btn-warning" role="button">Start the quizzes</a>
  
</div>