<div class="jumbotron" style="background-color: #DAA520; ">
  
  <h1 style="text-align: center;text-decoration: underline;margin: 10px">Welcome to DTCTech</h1>
  <p style="text-align: center;margin: 10px;">
    <Strong>Content Manager:</Strong> Mike Dalton, PH.D., Electrical Engineering
    <Strong>Senior Web Developer:</Strong> Somwang Shepherd
  </p>
  <hr/ style="margin: 10px;">
  <h3 style="text-align: center;margin: 10px;">Open Courses</h3>
  
  {{!---------------- Start Card ---------------------}}
  <div class="card-columns">

    <div class="card bg-light">
      <div class="card-body text-center">
        <h4><a href="/chapter/1_1" class="card-link">Programming in Java I</a></h4>
        <p>
          We will begin with the fundamentals of Java programming: data types, arithmetic, and operators...
        </p>
        {{!--<p class="card-text">Java is a programming language designed to build secure, powerful applications that run across multiple operating systems, including Linux, Mac OS X, and Windows. The Java language is known to be flexible, scalable, and maintainable.--}}
        {{!--  We will begin with the fundamentals of Java programming: data types, arithmetic, and operators. We’ll learn a few concepts that you can apply to the programs you create. By the end of the course, you’ll be familiar with the basic building blocks of a Java program.--}}
        {{!--</p>--}}
      </div>
    </div>

    <div class="card bg-light">
      <div class="card-body text-center">
        <h4><a href="#" class="card-link">Programming in Java II</a></h4>
        <p class="card-text">Comming Soon....</p>
      </div>
    </div>
    
    <div class="card bg-light">
      <div class="card-body text-center">
        <h4><a href="#" class="card-link">Other</a></h4>
        <p class="card-text">Comming Soon....</p>
      </div>
    </div>
    
  </div>
  {{!----------------- End Card ---------------------}}
  
</div><!-- end Jumbotorn -->

